<%- include("partials/header.ejs") %>

<% const thisPost = locals.post %>

<div class="new-post-container">
    <form action="<%= thisPost && thisPost.id ? '/edit-post/' + thisPost.id : '/new' %>" method="POST">
        <input type="text" class="title box" name="title" placeholder="Title" value="<%= thisPost && thisPost.title ? thisPost.title : '' %>" required>
        <textarea cols="60" rows="8" class="content box" name="content" placeholder="Content" required><%= thisPost && thisPost.content ? thisPost.content : '' %></textarea>
        <input class="submit-button" type="submit" value="<%= thisPost && thisPost.id ? 'Update post' : 'Create post' %>">
    </form>
</div>


<%- include("partials/footer.ejs") %>